body {
    
    
    font-family: Verdana, sans-serif;
  }
  nav, footer {
    text-align: center;
    
    background-color: #5E75C6;
    padding: 10px;
  }
  a {
    
    font-size: 1.5em;
    color: white;
    margin: 40px;
  }
  h1 {
    
    text-align: center;
    color: steelblue;
    font-family: Arial, sans-serif;
  }
  img {
    border: 4px solid steelblue;
    width: 80%;
    display: block;
    margin: 0 auto;
    
  }
  p {
    
    width: 80%;
    margin: 0 auto;
  }
  
  main p{
    
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 10;
  }
  
